body {
    display: flex;

    margin: 0px;
}

h1 {
    font-family: 'Courier New', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    background: linear-gradient(to right, white, rgb(255, 121, 11), purple);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border: 6px inset rgba(255, 172, 134, 0.884);
    padding: 10px;
    border-radius: 10px 50px 10px 40px;
}

.sketch-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(60deg, rgb(37, 36, 35) 0 50%, rgb(180, 102, 0));
    box-shadow: 0 0 50px black inset;
    padding: 70px 20px 40px 50px;
    border-radius: 10px 50px 30px 15px;
    box-shadow: 0 0 10px rgb(255, 73, 1);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(-70deg, #3a2517, #333 50%, #eee 75%, #3a2517 75%);
    box-shadow: 0 0 5px silver inset;
    height: 100vh;
    width: 100%;
    border: 5px solid silver;
}

.grid-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid goldenrod;
    border-radius: 3px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(161, 161, 161);
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 130px;
}

.btn {
    border-style: none;
    padding: 8px;
    background-color: rgb(61, 0, 48);
    color: white;
    font-size: 18px;
    font-family: 'Courier New', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0px -5px 5px lightsalmon;
    padding: 12px;
}

/*#grey-btn {
    margin-top: 50px;
}